In [1]:
import datetime

In [4]:
a=datetime.datetime(2012,6,12)

datetime.datetime(2012, 6, 12, 0, 0)

In [5]:
print(a)

2012-06-12 00:00:00

## The date class

In [6]:
from datetime import date

In [7]:
mydate= date(year=1998,month=7, day=19)
print(mydate)

1998-07-19

In [12]:
a=date.today().day
print(a)

12

## Time class

In [13]:
from datetime import time

In [18]:
my= time(hour=12,minute= 30, second= 45)
print(my)

12:30:45

## Datetime class

In [21]:
from datetime import datetime
today=datetime.now()
print(today)ime

2021-11-12 20:07:01.790490

## timedelta class

In [22]:
from datetime import datetime,timedelta
today=datetime.now()
m= today+timedelta(days=180)

In [24]:
print(m)

2022-05-11 20:10:09.921327

## Exercise

In [32]:
#Find age of employee
from datetime import datetime,timedelta,date
d=int(input('Enter the day of birth ie 01-31: '))
m=int(input('Enter the month of birth ie. 01-12: '))
y=int(input('Enter the year of birth: '))
year_e= datetime.now().year-datetime(year=y,month=m,day=d).year
print(f"Employee's age is : {year_e}")

Enter the day of birth ie 01-31: 21
Enter the month of birth ie. 01-12: 05
Enter the year of birth: 1998
Employee's age is : 23